{% extends 'reviews/base.html' %}

{% block title %}
    {% if title == 'Review' %}
        {% if instance_model is None %}
            New {{title}}
           {% else %}
            Editing {{title}} - {{ instance.title }}
        {% endif %}
        {% else %}
            {% if instance is None %}
                New {{title}}
                {% else %}
                    Editing {{title}} - {{ instance }}
             {% endif %}
    {% endif %}
   
{% endblock title %}


{% block content %}
    {%  if title == 'Review' %}
            {% if instance_model is None %}
                <h2><em> New {{title}}</em></h2>
                {% else %}
                    <h2><em> {{ instance.title }} </em></h2>
            {% endif %}

        {% else %}
            {% if instance is None %}
                <h2><em> New {{title}}</em></h2>
                {% else %}
                    <h2><em>Editing {{ instance }} </em></h2>
            {% endif %}
    {% endif %}

    
    <form method="post" {% if is_file_upload %} enctype="multipart/form-data" {% endif %}>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value=" {% if instance is None %} Create {% else %} Save {% endif %}" class="btn btn-primary">
    </form>
{% endblock content %}